



.styling{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
  }
  
  
  
  .header{
    background-color: #CD519D;
    margin-top: 0px;
    margin-bottom: 0;
  }
  
  .doingstyle{
    margin-bottom: 20px;
  }
  
  .body-container{
    
    display:grid;
    grid-template-columns: 1fr 5fr;
  }
  
  .hi{
    
  }